<table>
   
    <thead>
        <th>Rental id</th>
        <th>Check in</th>
        <th>Check out</th>
        <th>Previous Reservation </th>
    </thead>

    <tbody>
        {% for r in reservations %}
            <tr>
                <td>{{ r.rental_id}}</td>
                <td>{{ r.checkin }}</td>
                <td>{{ r.checkout }}</td>
                {% if r.previous_reservation_id %}
                    <td>{{ r.previous_reservation_id }}</td>
                {% else %}
                    <td> -- </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>